@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

 body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
} 

header {
    width: auto;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(139, 139, 139, 0.65);
} 

nav {
    padding: 5px 40px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo img{
    width: 150px;
}

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 0;
}

.menu ul li {
    margin: 0 20px;
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;

    color: #777777;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

/* BANNER */

.banner {
    width: 100vw;
    height: 255px;

    background-image: url("../images/image\ 13.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* STYLE */

.style {
    margin: 40px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.style h1 {
    text-align: center;
    margin: 50px;
    font-size: 50px;
    font-weight: 700;
}

#image7 {
    height: 100%;
}
.style-images {
    width: 100%;
    margin: 20px 0 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.style-images img {
    max-width: 80%;
    margin: 30px 20px;
}

/*  SALES */

.sales {
    width: 100vw;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    background-color: #C2185B;
}

.sales-container {
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.sales-container h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;

    text-transform: uppercase;
}

.offers {
    width: 100%;
    margin: 35px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.product {
    background-color: white;
    padding-bottom: 20px;
    margin: 30px 20px 0 0;
}

.name{
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0 0 10px;
    color: black;
}

.price {
    margin: 0 0 0 10px;
    color: black;
}

/* DESTAQUE */

.destaque {
    width: 100vw;
    margin: 150px 0;
    display: flex;
    justify-content: center;
}

.destaque-container {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.destaque img {
    max-width: 100%;
}

.left-side, .right-side {
    margin: 30px 20px;
    width: 520px;
    display: flex;
    justify-content: center;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text h2{
    margin: 0;
    font-size: 39px;
}

.text button {
    width: 300px;
    height: 50px;
    margin: 15px 0;

    background-color: #C2185B;
    color: #FFFFFF;
    font-size: 22px;
    text-transform: lowercase;
    border: none;

    gap: 90px;
}

.destaque-container h2 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-transform: uppercase;

}


/* FOOTER */

footer {
    width: 100vw;
    background-color: #C2185B;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 80%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #FFFFFF;
}
.footer-text {
    width: 300px;
}

.footer-text p {
    margin: 0;
}

.title{
    font-weight: 700;
    font-size: 18px;
}

.links {
    width: 50%;
    padding: 30px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.institucional, .categorias {
    margin: 0 15px;
}

.links ul {
    padding: 0;
}

.links ul li {
    list-style: none;
    color: #FFFFFF;
}

@media (max-width: 1330px) {
    .banner {
        background-size: contain;;
    }
}

@media (max-width: 1020px) { 
    .footer-container {
        justify-content: space-between;
    }

    .links {
        width: 405px;
    }
}

@media (max-width: 900px) {
    .banner {
        display: none;
    }

    .footer-container {
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 750px) {
    nav {
        justify-content: center;
        padding: 25px;
    }
}

@media (max-width: 550px) {
    nav {
        justify-content: center;
        padding: 25px;
    }

    .menu ul {
        justify-content: space-around;
    }
}

/* TRABALHE CONOSCO */

section.main {
    width: 80vw;
    margin: 0 auto;
    padding: 50px;
}

.main h1 {
    font-size: 40px;
    color: #575757;
}

.trabalhe-conosco {

    font-size: 18px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #9B9B9B;
}

.form {
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
}

.disponibilidade, .contato, textarea {
    display: inline;
    color: #575757;
}

.disponibilidade>label, .contato>label {
    margin-right: 15px;
}

input, select, textarea {
    border: 1px solid #9B9B9B;
    padding: 3px;
    margin: 0 0 12px 0;
    color: #575757;
}

label {
    margin: 0 0 3px;
}

input:not([type=checkbox], [type=radio]):active, 
input:not([type=checkbox], [type=radio]):focus,
textarea:active, textarea:focus,
select:focus{
    border: none;
    outline: 2px solid #C2185B;
}

button {
    font-size: 18px;
    background-color: #C2185B;
    color: #FFFFFF;
    border: none;
    padding: 10px;

    transition: all 1s;
}

button:hover {
    color: #C2185B;
    background-color: #FFFFFF;
    border: .3px solid #C2185B;
}

.info {
    width: 500px;
    color: #575757;
}

.info p {
    margin: 0 0 20px ;
}


@media (max-width: 1024px) {
    h1 {
        text-align: center;
    }

    .trabalhe-conosco {
        justify-content: center;
    }

    .form, .info{
        margin: 15px;
    }
}

@media (max-width: 1024px) {
    section.main {
        width: 95vw;
    }

    .form, .info {
        width: 95%;
    }
}